In [1]:
import pandas as pd
import numpy as np

In [7]:
vans = []
for v in range(100):
    h = np.random.randint(0, 257)
    s = np.random.choice([100, 200, 400, 800])
    md  = np.round(np.random.randint(100, 501), -1)
    on = np.random.choice([0, 1])
   
    vans.append((v, h, s, md, on))

vans_df = pd.DataFrame(vans, columns=['van_id', 'home_city', 'size', 'max_distance', 'overnights'])

In [8]:
vans_df.head()

   van_id  home_city  size  max_distance  overnights
0       0        252   800           350           1
1       1        222   800           120           0
2       2        141   200           220           0
3       3         58   800           420           0
4       4        182   200           450           0

In [9]:
vans_df.to_csv('data/vans.csv', index=False)