In [1]:
import pandas as pd
import numpy as np

In [2]:
orders = []

for o in range(500):
    f = np.random.randint(0, 257)
    t = np.random.randint(0, 257)
    s = np.random.choice([10, 50, 100, 200])
    
    orders.append((o, f, t, s))

orders_df = pd.DataFrame(orders, columns=['order_id', 'from', 'to', 'size'])

In [3]:
orders_df.head()

   order_id  from   to  size
0         0   239  157    50
1         1    84  218    50
2         2   228   16    50
3         3    20   85   200
4         4   117  131   100

In [4]:
orders_df.to_csv('data/orders.csv', index=False)